// Colors
$primary: #666CA3;
$secondary: #13183F;
$tertiary: #F74780;

$gradient-1: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
$gradient-2: linear-gradient(180deg, #4851FF 0%, #F02AA6 99.92%);

$grey: #83869A;
$pink: #F02AA6;
$white: #FFFFFF;

// Typography
@mixin heading-xl {
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 71px;
    color: $secondary;
}

@mixin heading-l {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    color: $secondary;
}

@mixin heading-m {
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    color: $secondary;
}

@mixin heading-s {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    color: $secondary;
}

@mixin paragraph {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color:$grey;
}

@mixin description {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color:$grey;
}

// Elements

@mixin button($bg-color, $hover-bg-color) {
    .cta-button {
        height: 56px;
        width: 167px;
        border-radius: 28px;
        background: $bg-color;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &:hover {
            background: $hover-bg-color;
            -webkit-transition: background 0.2s ease-in-out;
            -ms-transition: background 0.2s ease-in-out;
            transition: background 0.2s ease-in-out;
        }
        
        span.text{
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 28px;
            text-align: center;
            color: $white;
        }
    }
}

@mixin wrapping {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}

// General

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    height: auto;
}

// Style


.header{
    position: relative;
    overflow: hidden;
    
    .navbar{
        @include wrapping; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .logo-dark{
            width: 111.17px;
            height: 27.68px;
        }
        
        @include button($secondary, $primary)
    }
    
    .hero {
        @include wrapping;
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: center;
        align-items: center;
        min-height: 712px;
        
        .text{
            
            h1 {
                @include heading-xl;
                margin-bottom: 29px;
            }
            
            p {
                @include paragraph;
                margin-bottom: 40px;
            }
            
            @include button($gradient-1, $gradient-2) 
        }
        
        .main-picture{
            
            img{
                position: absolute;
                right: -4%;
                top: -12%;
                max-width: 991.63px;
                z-index: -1;

                @media (max-width: 1536px) {
                    top: -17%;
                    right: -21%;
                }

                @media (max-width: 1440px) {
                    top: -17%;
                    right: -21%;
                }

                @media (max-width: 1362px) {
                    top: -8%;
                    right: -35%;
                }

                @media (max-width: 1024px) {
                    top: -11%;
                    right: -44%;
                }

                @media (max-width: 768px) {
                    position: unset;
                }
            }
        }
    }
}




