// Colors
$primary: #666CA3;
$secondary: #13183F;
$tertiary: #F74780;

$gradient-1: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
$gradient-2: linear-gradient(180deg, #4851FF 0%, #F02AA6 99.92%);

$grey: #83869A;
$pink: #F02AA6;
$white: #FFFFFF;

// Typography
@mixin heading-xl {
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 71px;
    color: $secondary;
}

@mixin heading-l {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    color: $secondary;
}

@mixin heading-m {
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    color: $secondary;
}

@mixin heading-s {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    color: $secondary;
}

@mixin paragraph {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color:$grey;
}

@mixin description {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color:$grey;
}

// Elements

@mixin button($bg-color, $hover-bg-color) {
    .cta-button {
        height: 56px;
        width: 167px;
        border-radius: 28px;
        background: $bg-color;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &:hover {
            background: $hover-bg-color;
            -webkit-transition: background 0.2s ease-in-out;
            -ms-transition: background 0.2s ease-in-out;
            transition: background 0.2s ease-in-out;
        }
        
        span.text{
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 28px;
            text-align: center;
            color: $white;
        }
    }
}

@mixin wrapping {
    max-width: 1110px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
}

// General

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

// Style


.header{
    position: relative;
    overflow: hidden;
    
    .navbar{
        @include wrapping; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 120px;
        
        .logo-dark{
            width: 111.17px;
            height: 27.68px;
        }
        
        @include button($secondary, $primary)
    }
    
    .hero {
        @include wrapping;
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: center;
        align-items: center;
        min-height: 712px;
        
        @media (max-width: 1024px) {
            min-height: 638px;
        }
        
        @media (max-width: 768px) {
            min-height: unset;
            display: block;
        }
        
        .hero-text{
            
            h1 {
                @include heading-xl;
                margin-bottom: 29px;
            }
            
            p {
                @include paragraph;
                margin-bottom: 40px;
            }
            
            @include button($gradient-1, $gradient-2);
            
            @media (max-width: 768px) {
                margin-bottom: 46px;
            }
        }
        
        .main-picture{
            
            img{
                position: absolute;
                right: -4%;
                top: -12%;
                max-width: 991.63px;
                z-index: -1;
                
                @media (max-width: 1536px) {
                    top: -17%;
                    right: -21%;
                }
                
                @media (max-width: 1440px) {
                    top: -17%;
                    right: -21%;
                }
                
                @media (max-width: 1362px) {
                    top: -8%;
                    right: -35%;
                }
                
                @media (max-width: 1024px) {
                    max-width: 640px;
                    top: 6%;
                    right: -27%;
                }
                
                @media (max-width: 767px) {
                    position: unset;
                }
            }
        }
    }
}

.main{
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);

    .wrapper{
        @include wrapping;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 30px;
        row-gap: 80px;
        padding-bottom: clamp(80px, calc(5rem + ((1vw - 3.75px) * 5.6338)), 140px);
        padding-top: clamp(66px, calc(4.125rem + ((1vw - 3.75px) * 4.1315)), 110px);

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            row-gap: 56px;
            column-gap: 11px;
        }

        @media (max-width: 500px) {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: auto;
            row-gap: 40px;
        }

        .special-card, .card{
            max-width: 350px;
            min-height: 346px;
            border-radius: 15px;

            @media (max-width: 500px) {
                max-width: 343px;
                min-height: 259px;
                justify-self: center;
            }
        }
    
        .special-card {
            background: $gradient-1;

            @media (max-width: 500px) {
                min-height: 120px;
            }
    
            .internal-wrapper{
                padding: 0 32px;
                padding-top: 64px;

                @media (max-width: 500px) {
                    padding: 0 28px;
                    padding-top: 24px;
                }
    
                    .heading{
                        @include heading-m;
                        color: $white;

                        @media (max-width: 500px) {
                            font-size: 24px;
                        }
                    }
            }
    
        }
    
        .card{
            background-color: $white;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            position: relative;
    
            .internal-wrapper{
                padding: 0 32px;
                padding-top: 64px;
                padding-bottom: 40px;
                display: grid;
                height: 100%;
    
                .icon{
                    position: absolute;
                    top: -25px;
                    left: 32px;
                    width: 56px;
                    height: 56px;
                }
        
                .heading{
                    @include heading-s;
                    margin-bottom: 24px;
                }
        
                .text-card{
                    @include paragraph;

                    @media (max-width: 500px) {
                        margin-bottom: 24px;
                    }
                }
        
                .cta{
                    cursor: pointer;
                    @include paragraph;
                    font-weight: 700;
                    color: $tertiary;
                    justify-self: flex-start;
                    align-self: flex-end;

                    &:hover {
                        color: $pink;
                    }
                }
            }
        }
    }
    
}

.footer{
    background-color: $secondary;

    .wrapper{
        @include wrapping; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 120px;
        
        .logo-light{
            width: 111.17px;
            height: 27.68px;
        }    
        @include button($gradient-2, $gradient-1)
    }
}




